html{
    background-image: url(./img/b1.jpg);
}
body {
    text-align: center;
    padding: 30px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    color: white;
  }
  header h1{
    font-size: 49px;
    color: #abcd4d;
    border: solid #abcd4d 4px;
    margin-bottom: 30px;
    border-radius: 20%;
  }
  
  .a-box {
    display: inline-block;
    width: 240px;
    text-align: center;
  }
  
  .img-container {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
  .img-container img {
      transform: skew(0deg, -13deg);
      height: 250px;
      margin: -35px 0px 0px -70px;
  }
  
  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      transform: skew(0deg, 13deg);
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #abcd4d;
      height: 250px;
      width: 200px;
  }
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 25px 20px 20px 20px;
    border-radius: 20px;
    background: #047
  }
  .main-container{
    margin: 0px 20px 0px -25px;
  }
  .list-items{
      list-style: none;
  }
  .name{
    display: flex;
    font-weight: bold;
    font-size: 35px;
    height: 120px;
    justify-content: center;
    align-items: center;
  }
  .to-do{
    margin-bottom: 10px;
    padding: 16px;
    border-radius: 5%;
    background-color: #047;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  .btns{
    margin: 30px 0px 30px 0px;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5%;
    background-color: #abcd4d;
    color: #047;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }

  @media only screen and (min-width: 480px){
    
    .media-container{
        display: flex;
        flex-wrap: wrap;  
    }
   .a-box{
       margin: 20px;
   }
   header h1{
        font-size: 70px;
   }
}

@media only screen and (min-width: 590px){
    
      header h1{
        font-size: 70px;
   }
}